.banner {
  --banner-padding-top: 3px;
  position: relative;
  padding-top: var(--banner-padding-top);
  padding-bottom: 105px;

  .promo-01,
  .promo-02 {
    position: absolute;
    z-index: 5;
  }

  .promo-01 {
    top: calc(82px + var(--banner-padding-top));
    right: 74px;
  }

  .promo-02 {
    top: calc(362px + var(--banner-padding-top));
    right: -21px;
  }
}

@media (max-width: 1300px) {
  .banner .promo-01 {
    right: -12px;
  }
}

@media (max-width: 1200px) {
  .banner {
    padding-bottom: 30px;
  }
  .banner .promo-01,
  .banner .promo-02 {
    display: none;
  }
}
