.books {
  position: relative;
  margin-top: 46px;
  padding-left: 196px;
  max-width: 1084px;
  z-index: 1;

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 424px);
    column-gap: 76px;
    row-gap: 96px;
    z-index: 1;
  }
}

@media (max-width: 1300px) {
  .books {
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .books__list {
    grid-template-columns: repeat(1, 424px);
    column-gap: 0;
    row-gap: 20px;
    justify-content: center;
  }
}
