.slider {
  &__images {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: var(--container-width);
    height: 702px;
    transition-duration: var(--transition-duration);

    .image {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.8s ease;
    }

    .image.active {
      opacity: 1;
    }
  }

  &__dots {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;

    &-item {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--color-grey-alt);
      cursor: pointer;
      transition-duration: var(--transition-duration);
    }

    &-item:hover,
    &-item.active {
      background-color: var(--color-dots-active);
      transition-duration: var(--transition-duration);
    }
  }
}

@media (max-width: 1200px) {
  .slider__images {
    height: 500px;
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .slider__images {
    height: 400px;
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .slider__images {
    height: 300px;
    max-width: 400px;
  }
  .slider__dots-item {
    width: 8px;
    height: 8px;
  }
}
